# Automatically configure Podman socket for local development
if [[ "$OSTYPE" == "linux-gnu"* ]]; then
  export DOCKER_HOST="unix:///run/user/$(id -u)/podman/podman.sock"
elif [[ "$OSTYPE" == "darwin"* ]]; then
  export DOCKER_HOST="unix://$HOME/.local/share/containers/podman/machine/qemu/podman.sock"
fi
